{% extends 'menu/plantilla.html' %}

{%load static%}

{% block titulo %}
<title>Herramientas</title>

{% endblock titulo %}

{% block categoria %}
  <h5>Herramientas</h5>
{% endblock categoria %}   

{% block cuerpo %}
 <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{% static 'menu/img/escoba.png' %}" alt="Sin imagen">
                        <h5>Escobillón Básico Multiuso</h5>
                        <p class="price"> $1.690</p>
                        <a href="{% url 'Dherra1' %}"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{% static 'menu/img/esponja.jpg' %}" alt="Sin imagen">
                        <h5>Esponja Económica Multiuso </h5>
                        <p class="price"> $1.000</p>
                        <a href="D.herra2.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>

            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{% static 'menu/img/cepilloBaño.jpg' %}" alt="Sin imagen">
                        <h5>Cepillo De Baño </h5>
                        <p class="price"> $3.300</p>
                        <a href="D.herra3.html"><button class="boton-add">Ver más </button> </a>


                    </div>


                </div>

            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{% static 'menu/img/Mopa.webp' %}" alt="Sin imagen">
                        <h5>Mopa </h5>
                        <p class="price"> $7.500</p>
                        <a href="D.herra4.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{% static 'menu/img/Cubeta1.webp' %}" alt="Sin imagen">
                        <h5>Cubeta Azul</h5>
                        <p class="price"> $1.990</p>
                        <a href="D.herra5.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{% static 'menu/img/limpiavidrios.webp' %}" alt="Sin imagen">
                        <h5>Limpia Vidrios </h5>
                        <p class="price"> $4.500</p>
                        <a href="D.herra6.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>

            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{% static 'menu/img/pala-negra.png' %}" alt="Sin imagen">
                        <h5>Pala Plástica Económica </h5>
                        <p class="price"> $1.300</p>
                        <a href="D.herra7.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{% static 'menu/img/paño.webp' %}" alt="Sin imagen">
                        <h5>Paño De Género </h5>
                        <p class="price"> $900</p>
                        <a href="D.herra8.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>

        </div>







    </div>



{% endblock cuerpo %}
   

       


