{% extends 'menu/plantillaDetalle.html' %}
{%load static%}

{% block titulo %}
    <title>Listado</title>
{% endblock titulo %}

{% block cuerpo %}
 <div class="container-fluid">

        <div class="row" style="background-color: #E5E1D5;">
            <div class="col-md-12 col-sm-12" style="text-align: center;">
                <p>
                <h5>Listado de productos</h5>
                </p>
            </div>

        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-sm-12">

                <table border="1" class="lindatabla">
                    <thead>
                        <tr>
                            <th>Id producto</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Marca</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th>Foto</th>
                            <th>Categoría</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="productos">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="" class="btn btn-primary">Modificar</a><br>
                                <a href="" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                       

                    </tbody>
                </table>

                <button class="btn btn-primary" id="agregar">Agregar producto</button>
            </div>
            <div class="col-md-2"></div>

        </div>







    </div>














{% endblock cuerpo %}




   




