{% extends 'menu/plantillaDetalle.html' %}


{% load static%}
{% block titulo %}
    <title>Login</title>
{% endblock titulo %}
   

{% block cuerpo %}
 <main role="main" class="container-fluid">
        <div class="row">
            <div id="login" class="col-lg-4 offset-lg-4 col-md-6 offset-md-3
                col-12">
                <h2 class="text-center">Inicio sesión</h2>


                <form action="" method="POST" id="form2">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="correo">Correo</label>
                        <input id="correo" name="correo" class="form-control" type=""
                            placeholder="Correo electrónico">
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input id="password" name="palabraSecreta" class="form-control" type="password"
                            placeholder="Contraseña">
                    </div>

                    <br>

                    <button type="submit" id="mi-boton">Entrar</button>
                    

    
                   <br>
                    <br>

                    <a href="{% url 'crearcuenta' %}">No tienes cuenta?</a> Regístrate<br>
                    <a href="{% url 'recuperar' %}">Contraseña olvidada</a>
                    <a href="{% url 'anadirp' %}">anadir</a>
                    <p class="warnings" id="warnings"></p>
                </form>
            </div>
        </div>
    </main>



<script src="{% static 'menu/js/query.js' %}"></script>
{% endblock cuerpo %}
   
   
