{% extends 'menu/plantillaDetalle.html' %}


{% load static%}
{% block titulo %}
    <title>Modificar</title>
{% endblock titulo %}
   

{% block cuerpo %}
<main role="main" class="container-fluid">
    <div class="row">
        <div id="login" class="col-lg-4 offset-lg-4 col-md-6 offset-md-3
            col-12">
            <h2 class="text-center">Modificar producto</h2>
            <form action="{% url 'modificarProducto' %}" method="POST" enctype="multipart/form-data" id="">
                {% csrf_token %}
                <div class="form-group">
                    <label >Id: </label>
                    <input readonly value="{{ datos.idProducto }}" class="form-control input-lg" placeholder="Ingresa el Id del producto" type="" id="IdProducto" name="idProducto">
                </div>
                <div class="form-group">
                    <label for="current-password">Nombre: </label>
                    <input value="{{ datos.nombreProducto }}" class="form-control input-lg" placeholder="Ingresa el nombre del producto" type="" id="nombre" name="nombre">
                </div>

                <div class="form-group">
                    <label for="confirm-password">Descripción: </label>
                    <input value="{{ datos.descripcion }}" class="form-control input-lg" placeholder="Escriba aquí...." type="" id="descripcion" name="descripcion">
                </div>

                
                <div class="form-group">
                    <label for="new-password">Marca: </label>
                    <input value="{{ datos.marca }}" class="form-control input-lg" placeholder="Ingresa la marca" type="" id="marca" name="marca">
                </div>
                
                
                <div class="form-group">
                    <label for="confirm-password">Stock: </label>
                    <input value="{{ datos.stock }}" class="form-control input-lg" placeholder="Stock..." type="" id="stock" name="stock">
                </div>
                <div class="form-group">
                    <label for="confirm-password">Precio: </label>
                    <input value="{{ datos.precio }}" class="form-control input-lg" placeholder="Ingrese el precio" type="" id="precio" name="precio">
                </div>
                <div class="form-group">
                    <label>Foto: </label>
                    <input type="file" value="{{ datos.fotoProducto }}" class="form-control" id="foto" name="foto">
                </div>
                <div class="form-group">
                    <label>Categoría: </label>
                    
                    <select class="form-control " name="categoria " id="categoria"> 
                        {% for c in lista_categorias %}
                            {% if c.idCategoria == datos.categoria.idCategoria %}

                                <option value="{{ c.idCategoria }}" selected>{{ c.nombreCategoria }} </option>
                            {% else %}
                                <option value="{{ c.idCategoria }}">{{ c.nombreCategoria }} </option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>


                
                <button class="btn btn-primary mt-2">Modificar</button>

                

                <p class="warnings" id="warnings"></p>
            </form>

            <div id="password-error"></div>


    <script src="{% static 'menu/js/jquery.js' %}"></script>
{% endblock cuerpo %}
   
   
