{% extends 'menu/plantilla.html' %}

{%load static%}
{% block titulo %}
<title>Otro</title>
{% endblock titulo %}
    
{% block categoria %}
<h5>Cosas que te podrían interesar</h5>
{% endblock categoria %}

{% block cuerpo %}
<div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{% static 'menu/img/desodorante-arom-.png' %}" alt="Sin imagen">
                        <h5>Desodorante Ambiental F marina </h5>
                        <p class="price"> $2.300</p>
                        <a href="{% url 'Dotro1'%}"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{% static 'menu/img/desodorante_lluviaFlores.jpg' %}" alt="Sin imagen">
                        <h5>Desodorante Ambiental LL Flores</h5>
                        <p class="price"> $2.800</p>
                        <a href="D.otro2.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>

            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{% static 'menu/img/tanax.webp' %}" alt="Sin imagen">
                        <h5>Insecticida Tanax</h5>
                        <p class="price"> $2.300</p>
                        <a href="D.otro3.html"><button class="boton-add">Ver más </button> </a>


                    </div>


                </div>

            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{% static 'menu/img/lustramuebles.jpg' %}" alt="Sin imagen">
                        <h5>Lustra Muebles </h5>
                        <p class="price"> $1.300</p>
                        <a href="D.otro4.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{% static 'menu/img/desengrasante.jpg' %}" alt="Sin imagen">
                        <h5>Desengrasante Económico</h5>
                        <p class="price"> $2.000</p>
                        <a href="D.otro5.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{% static 'menu/img/toallitas-lysol.png' %}" alt="Sin imagen">
                        <h5>Toallas desinfectantes</h5>
                        <p class="price"> $2.400</p>
                        <a href="D.otro6.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{% static 'menu/img/alcohol.jpeg' %}" alt="Sin imagen">
                        <h5>Alcohol Higienizante</h5>
                        <p class="price"> $2.000</p>
                        <a href="D.otro7.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{% static 'menu/img/Jabonliquido.jpg' %}" alt="Sin imagen">
                        <h5>Jabón Líquido Sachet</h5>
                        <p class="price"> $1.300</p>
                        <a href="D.otro8.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>






        </div>
{% endblock cuerpo %}

        
        











