{% extends 'menu/plantillaDetalle.html' %}
{% load static %}

{% block titulo %}
<title>Perfil De Usuario</title>
{% endblock titulo %}
    
{% block cuerpo %}

<div class="container-fluid" style="text-align: center;">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4"></div>
                <div class="col-md-6 col-sm-4">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="cambiocontr.html"
                                role="tab" aria-controls="home" aria-selected="true">Actualizar Contraseña</a>
                        </li>
                       
                    </ul>
                </div>
                <div class="col-md-3 col-sm-4"></div>
            </div>
        </div>


        
        <TABLE BORDER=3 WIDTH="41%" HEIGHT="80%" style="margin: 0 auto;">
            <tr>
                <td></td>
                <td>
                    <div class="col-md-12 col-sm-12">
                        <br></br>
                       
                        <br></br>
                        <h5>Nombre: Pepito</h5>
                        <h5>Correo: Usuario@gmail.com</h5>
                        <h5>Teléfono: +56 9 33578964</h5>
                        <h5>Direccion de usuario: Huerfanos</h5>
                        <br></br>
                        <a href="EditarPerfil.html"><button class="boton-add">Editar</button> </a>
                        <br></br>   
                    </div>
                </td>
                <td></td>
            </tr>
        </TABLE>

        <div class="col-md-3 col-sm-12">
            <br></br>
        </div>
{% endblock cuerpo %}
  

 
    
