{% extends 'menu/plantillaDetalle.html' %}
{%load static %}

{% block titulo %}
 <title>Perfil De admin</title>
{% endblock titulo %}
   
{% block cuerpo %}

 <div class="container-fluid" style="text-align: center;">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4"></div>
                <div class="col-md-6 col-sm-4">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        
                        
                    </ul>
                </div>
                <div class="col-md-3 col-sm-4"></div>
            </div>
        </div>


        
        <TABLE BORDER=3 WIDTH="41%" HEIGHT="80%" style="margin: 0 auto;">
            <tr>
                <td></td>
                <td>
                    <div class="col-md-12 col-sm-12">
                        <br></br>
                        <h2>Tu Perfil</h2>
                        <br></br>
                    
                        <h5>Nombre de admin: Steve austin</h5>
                        <h5>Correo: </h5>
                        <h5>Teléfono: +56 9 37269582</h5>
                        <h5>Código admin: 18629</h5>
                        <br></br>
                        
                        <a href="{% url 'EditarPerfil' %}"><button class="boton-add">Editar</button> </a> <a href="{% url 'listado' %}"><button class="boton-add">Editar productos</button> </a>
                        <a href="{% url 'cambiocontr' %}"> <button class="boton-add">Cambiar contraseña</button> </a>
                        <br></br>   
                    </div>
                </td>
                <td></td>
            </tr>
        </TABLE>

        <div class="col-md-3 col-sm-12">
            <br></br>
        </div>

{% endblock cuerpo %}
    

   
