{% extends 'menu/plantilla.html' %}

{%load static%}

{% block titulo %}
 <title>Cloro</title>
{% endblock titulo %}
   

{% block categoria %}
<h5>Cloro</h5>
{% endblock categoria %}


{% block cuerpo %}
<div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/cloro5L.png'%}" alt="Sin imagen">
                        <h5>Cloro Líquido Tradicional 5L</h5>
                        <p class="price"> $2.200</p>
                        <a href="{% url 'detalleCloroL' %}"><button class="boton-add">Ver más </button> </a>


                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/CLORO-GEL-TRADICIONAL-5-LTS.png'%}" alt="Sin imagen">
                        <h5>Cloro Gel Tradicional </h5>
                        <p class="price"> $2.600</p>
                        <a href="detalleClorogelT.html"><button class="boton-add">Ver más </button> </a>



                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/cloromenta.png'%}" alt="Sin imagen">
                        <h5>Cloro Gel Menta</h5>
                        <p class="price"> $2.200</p>
                        <a href="detalleCloroGmenta.html"><button class="boton-add">Ver más </button> </a>


                    </div>


                </div>

            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/lavanda.webp'%}" alt="Sin imagen">
                        <h5>Cloro Gel Lavanda </h5>
                        <p class="price"> $2.790</p>
                        <a href="detalleCloroGlav.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/gabrielclorogel.jpg'%}" alt="Sin imagen">
                        <h5>Cloro Gel Tradicional push</h5>
                        <p class="price"> $1.700</p>
                        <a href="detalleCloroGpush.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/pushLvanda.jpg'%}" alt="Sin imagen">
                        <h5>Cloro Gel Lavanda </h5>
                        <p class="price"> $1.700</p>
                        <a href="detalleGelLavpus.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>

            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/clorogelclorinda.jpg'%}" alt="Sin imagen">
                        <h5>Cloro Gel Menta</h5>
                        <p class="price"> $1.800</p>
                        <a href="detalleGElclorin.html"><button class="boton-add">Ver más </button> </a>


                    </div>


                </div>

            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/cloro-clorox-2lts.jpg'%}" alt="Sin imagen">
                        <h5>Cloro Clorox</h5>
                        <p class="price"> $1.800</p>
                        <a href="D.cloroClorx.html"><button class="boton-add">Ver más </button> </a>


                    </div>


                </div>

            </div>



        </div>





{% endblock cuerpo %}
        




