{% extends 'menu/plantillaDetalle.html' %}
{%load static%}

{% block titulo %}
<title>DetalleMasimple</title>
{% endblock titulo %}
 

{% block cuerpo %}
   
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-2 col-sm-12"> </div>
            <div class="col-md-8 col-sm-12 ">

                <div class="detail">
                    <img class="imgProduc" src="{% static 'menu/img/massismple2.jpeg' %}" alt="Sin imagen">
                    <br><br>

                    <h4> Detergente Mas Simple</h4><br>
                    <p>Detergente líquido Mas Simple, 5LT</p>
                    <br>
                    <h4>$2.500</h4>
                    <br>

                    <label for="cantidad">Cantidad:</label>
                    <input type="number" id="cantidad" name="cantidad" min="1" max="25" required><br><br>
                    <br>



                    <button class="boton-add">Agregar al carrito</button>
                    <br>
                    <br>



                </div>











            </div>



        </div>
    </div>
{% endblock cuerpo %}

   
  

 










































