{% extends 'menu/plantilla.html' %}

{%load static%}

{% block titulo %}
<title>Detergentes</title>
{% endblock titulo %}
    
    
{% block categoria %}
<h5>Detergentes</h5>

{% endblock categoria %}
   
{% block cuerpo %}
 <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/massismple2.jpeg ' %}" alt="Sin imagen">
                        <h5>Detergente Mas simple</h5>
                        <p class="price"> $2.100</p>
                        <a href="{% url 'DetalleMasimple'%}"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src=" {%static 'menu/img/omodeter.jpg ' %}" alt="Sin imagen">
                        <h5>Detergente Omo</h5>
                        <p class="price"> $2.500</p>
                        <a href="detalleOmo.html"><button class="boton-add">Ver más</button> </a>



                    </div>


                </div>

            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/acedeter.jpg ' %}" alt="Sin imagen">
                        <h5>Detergente Ace</h5>
                        <p class="price"> $2.000</p>
                        <a href="detalleAce.html"><button class="boton-add">Ver más </button> </a>


                    </div>


                </div>

            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/drivedeter.jpg ' %}" alt="Sin imagen">
                        <h5>Detergente Drive</h5>
                        <p class="price"> $2.000</p>
                        <a href="detalleDrive.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="container-items">
                    <div class="item">
                        <img class="tam" src="{%static 'menu/img/arieldeter.jpg ' %}" alt="sin imagen">
                        <h5> Detergente Ariel</h5>
                        <p class="price">$2.500</p>
                        <a href="detalleAriel.html"><button class="boton-add"> Ver más</button></a>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="container-items">
                    <div class="item">
                        <img class="tam" src="{%static 'menu/img/gabrieldeter.jpg ' %}" alt="sin imagen">
                        <h5> Detergente Gabriel</h5>
                        <p class="price">$2.500</p>
                        <a href="detalleGabri.html"><button class="boton-add"> Ver más</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="container-items">
                    <div class="item">
                        <img class="tam" src="{%static 'menu/img/fuzoldeter.jpg ' %}" alt="sin imagen">
                        <h5> Detergente Fuzol</h5>
                        <p class="price">$1.850</p>
                        <a href="detalleFuz.html"><button class="boton-add"> Ver más</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="container-items">
                    <div class="item">
                        <img class="tam" src="{%static 'menu/img/deterIgen.jpg ' %}" alt="sin imagen">
                        <h5> Detergente Igenix</h5>
                        <p class="price">$1.900</p>
                        <a href="detalleIge.html"><button class="boton-add"> Ver más</button></a>
                    </div>
                </div>
            </div>

        </div>




    




{% endblock cuerpo %}
       
















   
