{% extends 'menu/plantilla.html' %}



{% load static%}
{% block titulo %}
  <title>Productos</title>
{% endblock titulo %}

{% block categoria %}
<h5>Productos de limpieza</h5>
{% endblock categoria %}  

{% block cuerpo %}
  <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/LAVALOZAS-5-LTS-01.jpg' %}" alt="Sin imagen">
                        <h5>Lavalozas Gabriel </h5>
                        <p class="price"> $2.290</p>
                        <a href="{% url 'DlavalozaLim' %}"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/LIMPIAPISO-PRIMAVERA-5-LTS.jpg' %}" alt="Sin imagen">
                        <h5>Limpiapiso Primavera</h5>
                        <p class="price"> $2.800</p>
                        <a href="D.limpiapiso1.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>

            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/LIMPIAPISO-LAVANDA-5-LTS-01.jpg' %}" alt="Sin imagen">
                        <h5>Limpiapiso Lavanda</h5>
                        <p class="price"> $2.800</p>
                        <a href="D.limpiapiso2.html"><button class="boton-add">Ver más </button> </a>


                    </div>


                </div>

            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/limpiapiso-bebe-grande.jpg' %}" alt="Sin imagen">
                        <h5>Limpiapiso Bebé </h5>
                        <p class="price"> $2.800</p>
                        <a href="D.limpiapiso3.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/limpiapiso_limon.jpg' %}" alt="Sin imagen">
                        <h5>Limpiapiso Limón</h5>
                        <p class="price"> $2.000</p>
                        <a href="D.limpiapiso4.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/LIMPIADOR-MULTIUSO-AMONIO-5-LTS-01.jpg' %}" alt="Sin imagen">
                        <h5>Limpiador Multiuso</h5>
                        <p class="price"> $2.000</p>
                        <a href="D.limpiador5.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/Limpia-parabrisas.jpg' %}" alt="Sin imagen">
                        <h5>Limpia Parabrisas</h5>
                        <p class="price"> $2.000</p>
                        <a href="D.limpiador6.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>
            <div class="col-md-3 col-sm-12">
                <div class="container-items">
                    <div class="item">

                        <img class="tam" src="{%static 'menu/img/CERA-PINTURA-1-LT_.jpg' %}" alt="Sin imagen">
                        <h5>Cera Pintura Roja</h5>
                        <p class="price"> $1.000</p>
                        <a href="D.limpiador7.html"><button class="boton-add">Ver más </button> </a>



                    </div>


                </div>


            </div>






        </div>






    </div>




{% endblock cuerpo %}
    

      



>